body{
    margin:0;
    padding:0;
    background-color: #EED6D3;
     /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
 }
 nav{
     display: block;
     width: auto;
     height: 10vh;
 }
 
 .logo {
     float: left;
     margin-left: 20px;
     padding-top: 10px;
     font-weight: bold;
     font-size: 30px;
     color: #67595E;
     font-family: 'Reggae One', cursive;
     
 }
 
 .navlinks{
     float: right;
     width:30%;
     height: 100%;
     display: flex;
     flex-direction: row;
     padding-top: 20px;
     justify-content: space-around;
     font-family: 'Akaya Telivigala', cursive;
     font-size: 25px;
     font-weight: bold;
     
 }
 
 .navlinks li{
     list-style: none;
 }
 
 .navlinks li a{
     text-decoration: none;
     color: #67595E;
 }
 
 .navlinks a:hover{
     color:black;
 }
.difftypes{
    position: relative;
    text-align: center;
}
 .difftypes h3{
    font-family: 'Reggae One', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(1, 4, 5);
 }
 .difftypes span{
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 3px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
 }
